<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="server" value="chat.freenode.net" />
    <add key="port" value="6667" />
    <add key="channel" value="#r-wsb" />
    <add key="username" value="commaTicker_bot" />
  </appSettings>
</configuration>